/*base*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
body{
   -moz-user-select: none; /*火狐*/
   -webkit-user-select: none;  /*webkit浏览器*/
   -ms-user-select: none;   /*IE10*/
   -khtml-user-select: none; /*早期浏览器*/
   user-select: none;
   background: #58666e;
   border: 1px solid;
   height: 100%;
}
.grid {
    background: -webkit-linear-gradient(top, transparent 9px, #ddd 10px), -webkit-linear-gradient(left, #eee 9px, #ddd 10px);
    background: -moz-linear-gradient(top, transparent 9px, #ddd 10px), -moz-linear-gradient(left, #eee 9px, #ddd 10px);
    background: -o-linear-gradient(top, transparent 9px, #ddd 10px), -o-linear-gradient(left, #eee 9px, #ddd 10px);
    background: -ms-linear-gradient(top, transparent 9px, #ddd 10px), -ms-linear-gradient(left, #eee 9px, #ddd 10px);
    background: linear-gradient(top, transparent 9px, #ddd 10px), linear-gradient(left, #eee 9px, #ddd 10px);
    -webkit-background-size: 10px 10px;
    -moz-background-size: 10px 10px;
    background-size: 10px 10px;
}
ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
/*base*/

section,aside{
	background: #eee;
}
.wrap{
	min-width: 600px;
	height: 100%;
	margin: 5px 10px;	
 	background: #58666e;
	overflow: hidden;
}

/*function-bar*/
.function-bar{
	height: 50px;
	border-bottom: 1px solid black;
	margin: 5px 0;
}
.btn-wrap{
	margin-left: 35px;
}
.btn-wrap button{
	margin: 7px 10px 0 ;
	font-weight: bold;
}

/*table-list*/
.table-in-list{
	float: left;
	width: 25%;
	height: 605px;
	padding: 15px 10px;
	margin-right: 10px;
}
.table-in-list .expand::before{
	content: "-";
	font-weight: bold;
	margin-right: 5px;
}
.table-in-list collapse::before{
	content: "+";
	font-weight: bold;
	margin-right: 5px;
}
.table-in-list .level1,.table-in-list .level1 li{
	margin-left: 15px;
}
.table-in-list input{
	display: none;
}
.table-in-list .cols{
	display: none;
}

/*wrap*/
.wrap-main-pad, .wrap-output{
  display: -webkit-flex; /* Safari */
  display: flex;
  background: transparent;
}
/*main-pad*/
.main-pad{
	-webkit-flex: 1.3; /* Safari 6.1+ */
  -ms-flex: 1.3; /* IE 10 */ 
  flex: 1.3;
	position: relative;
	width: 45%;
	height: 300px;
	margin-right: 10px;
	margin-bottom: 5px;
	overflow: auto;
	-moz-user-select: none; /*火狐*/
	-webkit-user-select: none;  /*webkit浏览器*/
	-ms-user-select: none;   /*IE10*/
	-khtml-user-select: none; /*早期浏览器*/
	user-select: none;
}
.table-in-pad {
	width: 100px;
	background: #ddd;
	font-weight: bold;
	padding: 5px;
}
.table-in-pad .table-name{
	text-align: center;
	border-bottom: solid 1px; 
}
.table-in-pad .cols{
	height: 25px;
}
.table-in-pad span{
	margin-left: 10px;
}

/*result-pad*/
.chart-output{
	-webkit-flex: 1; /* Safari 6.1+ */
  -ms-flex: 1; /* IE 10 */ 
  flex: 1;
	height: 300px;
}
.data-output{
	-webkit-flex: 1.3; /* Safari 6.1+ */
  -ms-flex: 1.3; /* IE 10 */ 
  flex: 1.3;
	height: 300px;
	width: 33%;
}

/*sql-pad*/
.sql-output{
	-webkit-flex: 1; /* Safari 6.1+ */
  -ms-flex: 1; /* IE 10 */ 
  flex: 1;
	position: relative;
	width: 40%;
	height: 300px;
	padding: 10px 20px;
	margin-right: 10px;
}
.sql-output pre{
	/*margin-right: 110px;*/
}
.stream-criteria{
	position: absolute;
	right: 0;
	top:0;
	width: 100px;
	height: 180px;
	margin: 10px;
}
.stream-criteria button{
  display: block;
  width: 80px;
  height: 60px;
  margin: 80px auto;
  border-radius: 15px;
}
.stream-criteria i{
	font-size: 18px;
}



